/* ===========================================================
 *
 *  Name:          selectordie_theme_01.css
 *  Updated:       2014-04-26
 *  Created by:    Per V @ Vst.mn
 *  What?:         Custom "theme" for Select or Die
 *                 To use this theme, include this file
 *                 instead of the .selectordie.css file
 *
 *
 *  Beards, Rock & Loud Guns | Cogs 'n Kegs
 * =========================================================== */

/* Remove, change to fit your needs */
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

.sod_select,
.sod_select *
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
    }

/* The SoD - Please keep this first three lines intact, otherwise all hell will break looooooose */
.sod_select
    {
        display: inline-block;
        position: relative;
        line-height: 1;

        width: 200px;
        padding: 13px 10px;

        background-color: #ffffff;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
        background-image: -moz-linear-gradient(bottom, #f7f7f7 0%, #fff 100%);
        background-image: -o-linear-gradient(bottom, #f7f7f7 0%, #fff 100%);
        background-image: -webkit-linear-gradient(bottom, #f7f7f7 0%, #fff 100%);
        background-image: linear-gradient(bottom, #f7f7f7 0%, #fff 100%);
        -webkit-background-clip: padding-box;
           -moz-background-clip: padding;
                background-clip: padding-box;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        color: #797979;
        font-size: 12px;
        font-weight: 700;
        text-align: left;
        text-transform: none;
        outline: 0;
        outline-offset: -2px; /* Opera */
        cursor: default;
    }

    /* Up/Down arrows */
    .sod_select:before,
    .sod_select:after
        {
            content: "";
            position: absolute;
            right: 30px;
            top: 0;
            bottom: 0;
            border-left: 1px solid #dbdbdb;
        }

        /* Down arrow */
        .sod_select:after
            {
                content: "\25BC";
                right: 12px;
                top: 15px;
                border-left: none;
                color: #bbbbbb;
                font-size: 8px;
            }

    /* Change the border color on hover, focus and when open */
    .sod_select:hover,
    .sod_select.focus,
    .sod_select.disabled,
    .sod_select.disabled:hover
        {
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmNmYyIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
            background-image: -moz-linear-gradient(bottom, rgba(241,241,241,.75) 0%, rgba(255,252,252,.75) 100%);
            background-image: -o-linear-gradient(bottom, rgba(241,241,241,.75) 0%, rgba(255,252,252,.75) 100%);
            background-image: -webkit-linear-gradient(bottom, rgba(241,241,241,.75) 0%, rgba(255,252,252,.75) 100%);
            background-image: linear-gradient(bottom, rgba(241,241,241,.75) 0%, rgba(255,252,252,.75) 100%);
            border-color: #d4d4d4;
        }

        .sod_select.focus { box-shadow: 0 0 2px rgba(0,0,0,.1); }

        .sod_select.open
            {
                border-radius: 3px 3px 0 0;
                color: #919191;
            }

            .sod_select.open.above { border-radius: 0 0 3px 3px; }

    /* When the entire SoD is disabled, go crazy! */
    .sod_select.disabled,
    .sod_select.disabled:hover
        {
            opacity: .8;
            color: #b2b2b2;
            cursor: not-allowed;
        }

    /* The "label", or whatever we should call it. Keep the first three lines for truncating. */
    .sod_select .sod_label
        {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            padding-right: 25px;
        }

        .sod_select .sod_prefix { /* Use this if you're using a prefix and want to style it */ }
        .sod_select .sod_placeholder { /* Use this if you're using a placeholder and want to style it */ }



    /* Options list wrapper */
    .sod_select .sod_list
        {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            height: auto;
            width: 200px;
            margin: 0 0 0 -1px;
            border: 1px solid #dbdbdb;
            border-radius: 0 0 3px 3px;
            box-shadow: 1px 2px 5px rgba(0,0,0,.1);
            background: #ffffff;
            color: #676767;
            font-weight: 300;
            z-index: 1;
        }

        /* Shows the option list (don't edit) */
        .sod_select.open .sod_list { display: block;  }

        /* Don't display the options when  */
        .sod_select.disabled.open .sod_list { display: none;  }

        /* When the option list is displayed above the SoD */
        .sod_select.above .sod_list
            {
                top: auto;
                bottom: 100%;
                border-radius: 3px 3px 0 0;
                box-shadow: 1px -2px 5px rgba(0,0,0,.1);
            }


    /* Options list container */
    .sod_select .sod_list ul
        {
            overflow-y: auto;
            padding: 0;
            margin: 0;
        }

        /* All the options. Keep the first three lines for truncating... */
        .sod_select .sod_list li
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                position: relative;
                padding: 10px 10px 10px 25px;
                list-style-type: none;
            }

            /* Optgroups */
            .sod_select .sod_list .optgroup,
            .sod_select .sod_list .optgroup.disabled
                {
                    background: inherit;
                    color: #939393;
                    font-size: 11px;
                    font-style: italic;
                }

                /* Children of an optgroup */
                .sod_select .sod_list .groupchild { padding-left: 35px; }

            /* Disabled option */
            .sod_select .sod_list .disabled
                {
                    background: inherit;
                    color: #cccccc;
                }

            /* Hover state for options, also used when a user uses his/hers up/down keys */
            .sod_select .sod_list .active
                {
                    background: #366fb5;
                    color: #ffffff;
                }

            /*Make room for the check mark */
            .sod_select .sod_list .selected { font-weight: 700; }

                /* Displays a check mark for the selected option */
                .sod_select .sod_list .selected:before
                    {
                        content: "";
                        position: absolute;
                        left: 10px;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                        display: inline-block;
                        color: #808080;
                        height: 9px;
                        width: 10px;
                        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAgOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjRDlEOUQ4IiBkPSJNNCw2LjdDMy42LDYuMywzLjUsNi4xLDMuMSw1LjdDMi42LDUuMiwyLDQuNiwxLjUsNC4xYy0wLjgtMC44LTIsMC40LTEuMiwxLjJjMC45LDAuOSwxLjksMS45LDIuOCwyLjgNCgkJYzAuNywwLjcsMS4zLDEsMiwwQzYuNyw2LDguMywzLjcsOS44LDEuNUMxMC41LDAuNSw5LTAuMyw4LjMsMC42bDAsMEM2LjcsMi45LDUuNyw0LjQsNCw2LjciLz4NCjwvZz4NCjwvc3ZnPg0K);
                    }

                /* Add a .no_highlight class to you SoD to hide the check mark */
                .sod_select.no_highlight .sod_list .selected:before { display: none; }

            .sod_select .sod_list .link { /* If data-link is set on a specific option */ }
            .sod_select .sod_list .linkexternal { /* If data-link-external is set on a specific option */ }


    /* Hide native select */
    .sod_select select { display: none !important; }

        /* The native select in touch mode. Keep this first line. Sorry, keep everything. */
        .sod_select.touch select
            {
                -webkit-appearance: menulist-button;

                position: absolute;
                top: 0;
                left: 0;
                display: block !important;
                height: 100%;
                width: 100%;
                opacity: 0;
                z-index: 1;
            }