/* ===========================================================
 *
 *  Name:          selectordie_theme_02.css
 *  Updated:       2014-04-27
 *  Created by:    Per V @ Vst.mn
 *  What?:         Custom "theme" for Select or Die.
 *                 This is pretty much same as theme_02.css
 *                 found in the "_themes" folder. The only
 *                 difference is that it has .cusom appended
 *                 to all the selectors. .
 *
 *
 *  Beards, Rock & Loud Guns | Cogs 'n Kegs
 * =========================================================== */


/* The SoD - Please keep this first three lines intact, otherwise all hell will break looooooose */
.sod_select.custom.custom
    {
        display: inline-block;
        position: relative;
        line-height: 1;

        width: 200px;
        padding: 13px 10px;
        background: #fcfcfc;
        border: 1px solid #d4d4d4;
        box-shadow: inset 0 -1px 2px rgba(0,0,0,.05);
        border-radius: 3px;
        color: #808080;
        font-size: 12px;
        font-weight: 700;
        text-align: left;
        text-transform: none;
        outline: 0;
        outline-offset: -2px; /* Opera */
        cursor: default;
    }

    /* Up/Down arrows */
    .sod_select.custom:before,
    .sod_select.custom:after
        {
            content: "";
            position: absolute;
            right: 30px;
            top: 10px;
            bottom: 10px;
            border-left: 1px solid #e5e5e5;
        }

        /* Down arrow */
        .sod_select.custom:after
            {
                content: "\25BC";
                right: 12px;
                top: 16px;
                border-left: none;
                font-size: 7px;
            }
            .sod_select.custom.above:after { content: "\25B2"; }

    /* Change the border color on hover, focus and when open */
    .sod_select.custom:hover,
    .sod_select.custom.open,
    .sod_select.custom.focus
        {
            background: #ffffff;
            border-color: #d4d4d4;
        }

        .sod_select.custom.open { color: #919191; }
        .sod_select.custom.focus { box-shadow: inset 0 -1px 2px rgba(0,0,0,.05), 0 0 5px rgba(0,0,0,.1); }

    /* When the entire SoD is disabled, go crazy! */
    .sod_select.custom.disabled
        {
            border-color: #d4d4d4;
            color: #b2b2b2;
            cursor: not-allowed;
        }

        .sod_select.custom.disabled:hover { background: #fcfcfc; }

    /* The "label", or whatever we should call it. Keep the first three lines for truncating. */
    .sod_select.custom .sod_label
        {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            padding-right: 15px;
        }

        .sod_select.custom .sod_prefix { /* Use this if you're using a prefix and want to style it */ }
        .sod_select.custom .sod_placeholder { /* Use this if you're using a placeholder and want to style it */ }



    /* Options list wrapper */
    .sod_select.custom .sod_list
        {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            height: auto;
            width: 200px;
            margin: 10px 0 0 -1px;
            border: 1px solid #d4d4d4;
            border-radius: 3px;
            box-shadow: 0 2px 4px rgba(0,0,0,.1);
            background: #ffffff;
            color: #808080;
            font-weight: 300;
            z-index: 1;
        }

        /* Shows the option list (don't edit) */
        .sod_select.custom.open .sod_list { display: block;  }

        /* Don't display the options when  */
        .sod_select.custom.disabled.open .sod_list { display: none;  }

        /* When the option list is displayed above the SoD */
        .sod_select.custom.above .sod_list
            {
                top: auto;
                bottom: 100%;
                margin: 0 0 10px -1px;
                border: 1px solid #d4d4d4;
                box-shadow: 0 -2px 4px rgba(0,0,0,.1);
            }

        /* Arrow(s) displayed when the SoD is active, only in this "theme" */
        .sod_select.custom .sod_list:after,
        .sod_select.custom .sod_list:before
            {
                content: "";
                position: absolute;
                bottom: 100%;
                right: 10px;
                border: solid transparent;
                height: 0;
                width: 0;
                pointer-events: none;
            }

            .sod_select.custom.above .sod_list:after,
            .sod_select.custom.above .sod_list:before
                {
                    top: 100%;
                    bottom: auto;
                }

        .sod_select.custom .sod_list:after
            {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #ffffff;
                border-width: 6px;
            }

            .sod_select.custom.above .sod_list:after
                {
                    border-color: rgba(255, 255, 255, 0);
                    border-top-color: #ffffff;
                }

        .sod_select.custom .sod_list:before
            {
                margin-right: -2px;
                border-color: rgba(212, 212, 212, 0);
                border-bottom-color: #d4d4d4;
                border-width: 8px;
            }

            .sod_select.custom.above .sod_list:before
                {
                    border-color: rgba(255, 255, 255, 0);
                    border-top-color: #d4d4d4;
                }


    /* Options list container */
    .sod_select.custom .sod_list ul
        {
            overflow-y: auto;
            padding: 0 4px;
            margin: 4px 0;
            border-radius: 3px;
        }

        /* All the options. Keep the first three lines for truncating... */
        .sod_select.custom .sod_list li
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                position: relative;
                padding: 10px;
                list-style-type: none;
                border-bottom: 1px solid #f7f7f7;
            }

            /* Remove the bottom border from the last item */
            .sod_select.custom .sod_list li:last-child { border-bottom: none; }

            /* Optgroups */
            .sod_select.custom .sod_list .optgroup,
            .sod_select.custom .sod_list .optgroup.disabled
                {
                    background: inherit;
                    color: #939393;
                    font-size: 10px;
                    font-style: italic;
                }

                /* Children of an optgroup */
                .sod_select.custom .sod_list .groupchild { padding-left: 20px; }

            /* Disabled option */
            .sod_select.custom .sod_list .disabled
                {
                    background: inherit;
                    color: #cccccc;
                }

            /* Hover state for options, also used when a user uses his/hers up/down keys */
            .sod_select.custom .sod_list .active
                {
                    background: #f7f7f7;
                    border-radius: 3px;
                    color: #676767;
                }

            /*Make room for the check mark */
            .sod_select.custom .sod_list .selected
                {
                    padding-right: 25px;
                    font-weight: 700;
                }

                /* Displays a check mark for the selected option */
                .sod_select.custom .sod_list .selected:before
                    {
                        content: "";
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                                transform: translateY(-50%);
                        display: inline-block;
                        color: #808080;
                        height: 9px;
                        width: 10px;
                        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAgOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjRDlEOUQ4IiBkPSJNNCw2LjdDMy42LDYuMywzLjUsNi4xLDMuMSw1LjdDMi42LDUuMiwyLDQuNiwxLjUsNC4xYy0wLjgtMC44LTIsMC40LTEuMiwxLjJjMC45LDAuOSwxLjksMS45LDIuOCwyLjgNCgkJYzAuNywwLjcsMS4zLDEsMiwwQzYuNyw2LDguMywzLjcsOS44LDEuNUMxMC41LDAuNSw5LTAuMyw4LjMsMC42bDAsMEM2LjcsMi45LDUuNyw0LjQsNCw2LjciLz4NCjwvZz4NCjwvc3ZnPg0K);
                    }

                /* Add a .no_highlight class to you SoD to hide the check mark */
                .sod_select.custom.no_highlight .sod_list .selected:before { display: none; }



    /* Hide native select */
    .sod_select.custom select { display: none !important; }

        /* The native select in touch mode. Keep this first line. Sorry, keep everything. */
        .sod_select.custom.touch select
            {
                -webkit-appearance: menulist-button;

                position: absolute;
                top: 0;
                left: 0;
                display: block !important;
                height: 100%;
                width: 100%;
                opacity: 0;
                z-index: 1;
            }